<p id="notice"><%= notice %></p>

<h1>Listing Teachings</h1>

<table>
  <thead>
    <tr>
      <th>Teaching name</th>
      <th>Summary</th>
      <th>Body</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachings.each do |teaching| %>
      <tr>
        <td><%= teaching.teaching_name %></td>
        <td><%= teaching.summary %></td>
        <td><%= teaching.body %></td>
        <td><%= teaching.user %></td>
        <td><%= link_to 'Show', teaching %></td>
        <td><%= link_to 'Edit', edit_teaching_path(teaching) %></td>
        <td><%= link_to 'Destroy', teaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teaching', new_teaching_path %>
