<div class="teaching-info">
</div>
<div class="teaching">
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Teaching name:</strong>
  <%= @teaching.teaching_name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @teaching.summary %>
</p>

<p>
  <strong>Body:</strong>
</p>
<%= @teaching.body.html_safe %>

<p>
  <strong>User:</strong>
  <%= @teaching.user.full_name %>
</p>
